.profile__avatar-edit {
    width: 26px;
    height: 26px;
    margin-left: 47px;
    margin-bottom: 47px;
    position: absolute;
    object-fit: cover;
    object-position: center;
    margin-top: 47px;
}

.profile__avatar-edit:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

@media all and (min-width: 675px) and (max-width: 900px) {
    .profile__avatar-edit {
        margin-left: 11%;
    }
}

@media all and (min-width: 517px) and (max-width: 674px) {
    .profile__avatar-edit {
        margin-left: 27%;
    }
}

@media screen and (min-width: 320px) and (max-width: 516px) {
    .profile__avatar-edit {
        margin-left: 42%;
    }
}