.elements__container {
    margin: 0;
    padding: 0;
    max-width: 880px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: 361px;
    row-gap: 20px;
    column-gap: 17px;
    margin-left: auto;
    margin-right: auto;
    min-height: 746px;
}

@media screen and (min-width: 1281px){
    .elements__container{
        grid-template-columns: repeat(3, 282px);
    }
}


@media screen and (max-width: 560px){
    .elements__container{
        width: 90%;
    }
}
